<div class="flex flex-wrap justify-center p-5">
    <p-divider></p-divider>
    <p class="flex items-center">
        <span class="flex items-center gap-2">
            <span>Power By </span>
            <a href="https://izh.pool4ever.com/" target="_blank" class="underline ">
            <span class="text-purple-500 font-bold">Idan Zamir Halevy</span> ©
            </a>
            <img src="angular.svg" width="120">
            <img src="primeng.png"  class="w-[130px] h-[30px]"  >
        </span>
    </p>
</div>