    <p-menubar [model]="items" dir="rtl" class="!border-none">
        <ng-template #start>
            <img src="logo-shaam.png" width="200" class="bg-primary p-2 rounded-xl"/>
        </ng-template>
         <ng-template #end>
             <p-button type="button" class="layout-topbar-action" (click)="toggleDarkMode()" variant="text" rounded="true" raised="true">
                    <i [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
             </p-button>
        </ng-template>
    </p-menubar>

